html, body {
    font-weight: normal;
    font-size: 16px;
    color: rgb(243, 243, 244);
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.drawer-svg-icon {
    fill: rgb(243, 243, 244) !important;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.8));
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: rgb(62, 69, 77);
    -webkit-box-shadow: 0 0 0 0 rgb(72, 218, 208) inset;
    box-shadow: 0 0 0 0 rgb(72, 218, 208) inset;
    transition: background-color 5000s ease-in-out 0s;
}


.flex-box-row {
    display: flex;
    flex-direction: row;
}

.flex-box-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.items-flex-start {
    align-items: flex-start;
}

.items-flex-end {
    align-items: flex-end;
}

.items-centered {
    align-items: center;
}

.content-centered {
    justify-content: center;
}

.content-flex-end {
    justify-content: flex-end;
}

.p-r {
    padding-right: 1em;
}

.p-l {
    padding-left: 1em;
}

.p-r-small {
    padding-right: 0.5em;
}

.p-l-small {
    padding-left: 0.5em;
}

.p-r-tiny {
    padding-right: 0.3em;
}

.p-l-tiny {
    padding-left: 0.3em;
}

.m-t-large {
    margin-top: 2em;
}

.m-t {
    margin-top: 1em;
}

.m-b {
    margin-bottom: 1em;
}

.m-l {
    margin-left: 1em;
}

.m-r {
    margin-right: 1em;
}

.m-l-small {
    margin-left: 0.5em;
}

.m-r-small {
    margin-right: 0.5em;
}

.m-l-tiny {
    margin-left: 0.3em;
}

.m-r-tiny {
    margin-right: 0.3em;
}

.text-overline {
    font-size: 10px;
    font-variant-caps: petite-caps;
    font-family: "Roboto Condensed", sans-serif;
}

.bg-green-darker {
    background-color: rgb(4,93,86);
}

.bg-green-dark {
    background-color: rgb(0,139,82);
}

.bg-green {
    background-color: rgb(30,185,128);
}

.bg-green-light {
    background-color: rgb(88,197,150);
}


.bg-orange {
    background-color: rgb(255,104,89);
}

.bg-orange-light {
    background-color: rgb(249,165,161);
}

.bg-yellow-dark {
    background-color: rgb(254,187,0);
}

.bg-yellow {
    background-color: rgb(255,207,68);
}

.bg-yellow-light {
    background-color: rgb(255,221,124);
}

.bg-purple-dark {
    background-color: rgb(177,93,255);
}

.bg-purple {
    background-color: rgb(201,142,254);
}

.bg-purple-light {
    background-color: rgb(243,228,255);
}

.bg-blue-dark {
    background-color: rgb(0,151,172);
}

.bg-blue {
    background-color: rgb(114,222,255);
}

.bg-blue-light {
    background-color: rgb(172,235,245);
}

.green-darker {
    color: rgb(4,93,86);
}

.green-dark {
    color: rgb(0,139,82);
}

.green {
    color: rgb(30,185,128);
}

.green-light {
    color: rgb(88,197,150);
}





.orange {
    color: rgb(255,104,89);
}

.orange-light {
    color: rgb(249,165,161);
}

.yellow-dark {
    color: rgb(254,187,0);
}

.yellow {
    color: rgb(255,207,68);
}

.yellow-light {
    color: rgb(255,221,124);
}

.purple-dark {
    color: rgb(177,93,255);
}

.purple {
    color: rgb(201,142,254);
}

.purple-light {
    color: rgb(243,228,255);
}

.blue-dark {
    color: rgb(0,151,172);
}

.blue {
    color: rgb(114,222,255);
}

.blue-light {
    color: rgb(172,235,245);
}

.fade { opacity: 0.8; }

.fade-strong { opacity: 0.6; }

.fade-extreme { opacity: 0.3; }

.transparent { opacity: 0; }

.cursive { font-style: italic; }
